.main-container{
    //position: relative;
}


.bg-for-about-and-exp{
    width: 3840px;
    height: 50vh;
    position:absolute;
    transform: scale(3);
    background: linear-gradient(#3B3259 35vh, #A3D5B4);
}

.main-bg-basics{
    width: 3840px;
    height: 50vh;
    margin: 0 -100%;
}

.blue-to-teal-gradient{
    background: linear-gradient(#3B3259 35vh, #A3D5B4);
}

.dark-to-light-blue-gradient{
    background: linear-gradient(#3B3259 35vh, #4e4763);
}

.main-dark-blue-bg{
    background-color: #746D92;  
    
    //overflow-x: clip;
}

// .side-pane{
//     position: sticky;
    
//     top: 0;
//     bottom: 0;
//     left: 0;

// }

// i {
//     font-size: 50px;
//     width: 60px;
//     height: 60px;
//     filter: invert(100%)
//   }