@import "../../css/Variables.scss";

.gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 

    @media(max-width: map-get($breakpoints, "tablet")){
        grid-template-columns: 1fr 1fr;
    }

    .gallery-pic{
        width: 100%; 
        height: auto;
    }
}