@import "../../css/Variables.scss";

.swiper-container{
    width: 100%;    
    height: 100%;//150px;
}

//apparently you're supposed to override swiper's style...
.swiper{
    width: 65%;
    height: 100%;
    border: 2px solid black;
    
    .swiper-wrapper{
        width: 100%;
        height: 100%;

        .swiper-slide{
            width: 100%;
            height: 100%;
            display: flex;
        }
        
        .swiper-slide img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // @media(max-width: map-get($breakpoints, "tablet")){
    //     width: 35%; //doesn't make sense but I hope this is what works...
    //     border-color: brown;
    // }

    // @media(max-width: map-get($breakpoints, "mobile")){
    //     width: 40%;
    //     border-color: chartreuse;
    // }
}



.swiper-button-next{
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    //right: -10px;
}
.swiper-button-prev{
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    //left: -10px;
}

// .swiper-container{
//     position: relative;
// }