@import "../../css/Variables.scss";

.button-border{
    width: fit-content;
    height: fit-content;
    padding: 3px 15px;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    font-size: large;

    @media(max-width: map-get($breakpoints, "mobile")){
        font-size: medium;
    }

    transform: translateX(0)
        scale(1, 1);
    
    transition: transform $hover-transition-duration;

    &:hover{
        transform: 
            scale($scale-on-hover, $scale-on-hover);
    }

    &:active{
        transform: translateX($translateX-active)
    }
}


